:root {
    --color-guimi: rgb(223, 106, 52);
    --color-gris: rgb(78, 72, 72);
}

html,
body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: #ffffff;
}

.titulo-seccion {
    margin-top: 2 em;
    padding-top: 5 px;
    padding-bottom: 5 px;
    font-size: 0.7em;
    text-align: center;
    vertical-align: baseline;
    letter-spacing: 0.30em;
    background-color: #e1e1e1;
    background-color: rgb(245, 245, 245);
    border: 0.5 px;
    border-color: #adadad;
    border-bottom-style: solid;
    border-top-style: solid;
}

.label-estrellas {
    color: grey;
}

.input-estrellas {
    display: none;
}

.clasificacion-estado {
    direction: rtl;
    /* right to left */
    unicode-bidi: bidi-override;
    /* bidi de bidireccional */
}

.label-estrellas:hover {
    color: orange;
}

.label-estrellas:hover ~ label {
    color: orange;
}

.input-estrellas:checked ~ label {
    color: orange;
}
.loader {
    color: var(--color-guimi, #DF6A34);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: white;
    opacity: .9;
    display: table;
}

.loader > div{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 50%;
  text-align: center;
}
/*ESTILOS PARA IMAGEN VISTA PREVIA*/

.div-imagen {
    position: relative;
    width: 50%;
}

.img-grande {
    max-width: 100%;
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.img-preview {
    max-width: 100%;
    max-height: 200px;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-tabla {
    max-width: 200px;
    display: block;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.img-btn {
    max-width: 100%;
    display: block;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.div-overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    /*                                transition: .5s ease;*/
}

.container:hover .div-overlay {
    bottom: 0;
    height: 100%;
}

.div-overlay p {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
}

/* icons pro fontawesome */
.icon-guimi {
    padding-bottom: 0.5em;
    color: #212529;
}

.hidden {
    display: none;
}

/* tarjetas personalizadas */
.tarjeta {
    /*    min-height: 92%;*/
    margin-bottom: 30px;
    border: solid 1px #ddd;
    border-radius: 10px;
    box-shadow: none;
    color: #333;
    display: block;
    text-decoration: none !important;
}

.tarjeta-header {
    min-height: 50px !important;
    padding: 1rem;
    transition: opacity .15s;
    background-position: center center;
    background-size: cover;
    border: 0;
    border-top-left-radius: 9px !important;
    border-top-right-radius: 9px !important;
    text-align: center !important;
}

.tarjeta-descripcion {
    padding: 15px 20px 0px 20px;
}

.tarjeta-imagen {
    height: 50px;
}

.badge-detalle {
    border-radius: 10px;
    color: #555;
    opacity: 1;
    background-color: #e2e3e5;
    border-color: #d6d8db;
    border: 1px solid transparent;
    margin: 0 1rem .5rem 1rem;
    padding: .2rem .5rem;
    position: relative;
    max-width: max-content;
    font-size: 80%;
}

a.tarjeta:focus,
a.tarjeta:hover {
    background: #f3faff;
    color: #333;
}

a.tarjeta:active {
    color: #6a1b99;
}

/*---------------- FOOTER INFORMÁTICA ---------------*/
body.sticky-footer {
    width: 100% !important;
    height: 100%;
    display: table;
}

body.sticky-footer .footer-guimi {
    display: table-row;
    height: 1px;
}

.footer-guimi img {
    height: 3rem;
    width: auto;
}

.footer-guimi .row > div:first-child {
    padding-right: 30px;
}

.footer-guimi li a {
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
}

.footer-guimi a {
    color: var(--color-guimi, #DF6A34);
    text-decoration: none;
    background-color: transparent;
}

.footer-guimi a:hover {
    color: #767676;
    text-decoration: none;
}

.pull-left {
    float: left !important;
}

.col-xs-12 {
    width: 100%;
}

.text-90 {
    font-size: 90% !important;
}

.hr-footer-light {
    border-top: 1px solid #eee;
    margin: 0;
}

.hr-footer-gris {
    border-top: 2px solid #c5cdd1;
    margin: 0;
}

.hr-footer-guimi {
    border-top: 4px solid var(--color-guimi, #DF6A34);
    margin: 0;
}

.hr-sm {
    display: none;
}

/*---------------- FIN DE FOOTER ---------------*/
.navbar-guimi {
    margin-bottom: 2rem !important;
}
/*colores*/

.text-orange {
    color: orange;
}
.bg-gris {
    background-color: #e0e0e0;
}
.text-orange-guimi {
    color: #DF6A34 !important;
}
.bg-orange-guimi {
    background-color: #DF6A34 !important;
}
.text-grey-guimi {
    color: #4E4848 !important;
}
.bg-grey-guimi {
    background-color: #4E4848 !important;
}
.text-grey {
    color: #9A9DA0 !important;
}
.bg-grey {
    background-color: #9A9DA0 !important;
}

/*margin y paddings*/
.mt-8 {
    margin-top: 4rem !important;
}
.mb-8 {
    margin-bottom: 4rem !important;
}
