html,
body {
    min-height: -webkit-fill-available;
    font-family: sans-serif;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    background-color: rgb(239, 234, 227);
}

* {
    box-sizing: border-box;
}


/*------------------------------- COLORES -----------------------------------*/
a.text-orange-guimi:hover {
    color: rgb(64, 159, 169);
}
.text-orange-guimi {
    color: #DF6A34;
/*    color: rgb(255, 159, 0);*/
}
.text-dark-guimi {
    color: rgb(84, 70, 48);
}
.text-light-guimi {
    color: rgb(239, 234, 227);
}
.text-gray-guimi {
    color: rgb(206, 192, 170);
}
.text-secondary-guimi {
    color: rgb(64, 159, 169);
}

.bg-orange-guimi {
    background-color: #DF6A34 !important;
}
.bg-dark-guimi {
    background-color: rgb(84, 70, 48) !important;
}
.bg-light-guimi {
    background-color: rgb(239, 234, 227) !important;
}
.bg-gray-guimi {
    background-color: rgb(206, 192, 170) !important;
}
.bg-secondary-guimi {
    background-color: rgb(64, 159, 169) !important;
}


/*------------------------------- IMÁGENES -----------------------------------*/
.img-container {
    display: inline-block;
    text-align: center;

}

.img-background {
    max-width: 100%;
    max-height: 50vh;
    display: block;
    width: 100%;
    object-fit: cover;
    opacity: 80%;
}

.img-texto {
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 2px #000;
    /* background-color: rgba(0, 0, 0, 0.5);*/

}

/*---------------- FOOTER INFORMÁTICA ---------------*/
body.sticky-footer {
    width: 100% !important;
    height: 100%;
    display: table;
}

body.sticky-footer .footer-guimi {
    display: table-row;
    height: 1px;
}

.footer-guimi img {
    height: 3rem;
    width: auto;
}

.footer-guimi {
    background-color: #fff;
}

.footer-guimi .row > div:first-child {
    padding-right: 30px;
}

.footer-guimi li a {
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
}

.footer-guimi a {
    color: var(--color-guimi, #DF6A34);
    text-decoration: none;
    background-color: transparent;
}

.footer-guimi a:hover {
    color: #767676;
    text-decoration: none;
}

.pull-left {
    float: left !important;
}

.col-xs-12 {
    width: 100%;
}

.text-90 {
    font-size: 90% !important;
}

.hr-footer-light {
    border-top: 1px solid #eee;
    margin: 0;
}

.hr-footer-gris {
    border-top: 2px solid #c5cdd1;
    margin: 0;
}

.hr-footer-guimi {
    border-top: 4px solid var(--color-guimi, #DF6A34);
    margin: 0;
}

.hr-sm {
    display: none;
}

/*---------------- FIN DE FOOTER ---------------*/


/* tarjetas personalizadas */
.tarjeta {
    /*    min-height: 92%;*/
    margin-bottom: 30px;
    /*    border: solid 1px #ddd;*/
    border-radius: 10px;
    box-shadow: none;
    color: #333;
    display: block;
    text-decoration: none !important;
    border-bottom: #DF6A34 10px solid;
}
.tarjeta-border-secondary {
    border-bottom: rgb(64, 159, 169) 10px solid;
}

.tarjeta-header {
    min-height: 50px !important;
    padding: 1rem;
    transition: opacity .15s;
    background-position: center center;
    background-size: cover;
    border: 0;
    border-top-left-radius: 9px !important;
    border-top-right-radius: 9px !important;
    text-align: center !important;
}

.tarjeta-descripcion {
    padding: 15px 20px 0px 20px;
}

.tarjeta-imagen {
    height: 50px;
}

.badge-detalle {
    border-radius: 10px;
    color: #555;
    opacity: 1;
    background-color: #e2e3e5;
    border-color: #d6d8db;
    border: 1px solid transparent;
    margin: 0 1rem .5rem 1rem;
    padding: .2rem .5rem;
    position: relative;
    max-width: max-content;
    font-size: 80%;
}

a.tarjeta:focus,
a.tarjeta:hover {
    background: #f3faff;
    color: #333;
}

a.tarjeta:active {
    color: #6a1b99;
}


/******************************************************************************/
/*------------------------ ESTILOS RESPONSIVOS -------------------------------*/
/******************************************************************************/
/*----------------------------------------------------------------------------*/
/*                  Estilo para: Tablets y Smartphones                      */
/*----------------------------------------------------------------------------*/
@media screen and (max-width:767px) {
    .img-texto {
        top: 0.5rem;
        left: 0;
        transform: initial;
    }

}

/*----------------------------------------------------------------------------*/
/*                          Estilo para: Smartphone                           */
/*----------------------------------------------------------------------------*/
@media screen and (max-width:480px) {}

/*----------------------------------------------------------------------------*/
/*                          Estilo para: Tablet                               */
/*----------------------------------------------------------------------------*/
@media screen and (min-width:481px) and (max-width:767px) {}

/*----------------------------------------------------------------------------*/
/*                          Estilo para: Notebook                             */
/*----------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1024px) {
    .img-texto {
    top: 6rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*----------------------------------------------------------------------------*/
/*                          Estilo para: HD                             */
/*----------------------------------------------------------------------------*/
@media screen and (min-width:1200px) {}
