.ir-arriba {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    /*    z-index: 100;*/
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--color-guimi, #DF6A34);
    color: #fff !important;

}
.borde-gris {
    border: #f2f2f2 solid 5px;
}

.img-sm {
    max-width: 300px;
    max-height: 300px;
}

.observacion {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background-color: #f2f2f2;
    padding: 1em;
    border-left: #0072bb solid 5px;
}

.observacion-warning {
    border-left: #f9a822 solid 5px !important;
}

.observacion-info {
    border-left: #2897d4 solid 5px !important;
}

.observacion-danger {
    border-left: #c62828 solid 5px !important;
}

.observacion-success {
    border-left: #2e7d33 solid 5px !important;
}
