html, body {
    min-height: -webkit-fill-available;
    font-family: sans-serif;
}
body {
    margin:0;
    padding:0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #ffffff;

    height: 100vh;
    width: 100vw;
    min-height: -webkit-fill-available;
}
* {
    box-sizing: border-box;
}

.wrapper {
    background-color: #fff;
    overflow-y: auto;
}

.fondo {
    background-image: url("../img/bg/glaciar_perito_moreno.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    padding: 2em;
}

.tarjeta {
    color: #black;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
}
#contenido {
    margin: 3em auto;
    padding: 2em;
}

#footer {
    margin: 1em auto;
    padding: 1em;
}
/*------------------------------- IMÁGENES -----------------------------------*/
img {
    display: block;
    height: 100%;
    width: auto;
}
#guimi_img-bg {
    max-width:35%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#guimi_img-sm {
    display: none;
    max-width:35%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/******************************************************************************/
/*------------------------ ESTILOS RESPONSIVOS -------------------------------*/
/******************************************************************************/
/*----------------------------------------------------------------------------*/
/*                  Estilo para: Tablets y Smartphones                      */
/*----------------------------------------------------------------------------*/
@media screen and (max-width:767px) {
    #guimi_img-bg {
        display: none;
    }
    #guimi_img-sm {
        display: block;
    }
}

/*----------------------------------------------------------------------------*/
/*                          Estilo para: Smartphone                           */
/*----------------------------------------------------------------------------*/
@media screen and (max-width:480px) {
    #guimi_img-bg {
        display: none;
    }
    #guimi_img-sm {
        display: block;
    }

}

/*----------------------------------------------------------------------------*/
/*                          Estilo para: Tablet                               */
/*----------------------------------------------------------------------------*/
@media screen and (min-width:481px) and (max-width:767px) {
    #guimi_img-bg {
        display: none;
    }
    #guimi_img-sm {
        display: block;
    }

}

/*----------------------------------------------------------------------------*/
/*                          Estilo para: Notebook                             */
/*----------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1024px) {
    #guimi_img-bg {
        display: none;
    }
    #guimi_img-sm {
        display: block;
    }
}

/*----------------------------------------------------------------------------*/
/*                          Estilo para: HD                             */
/*----------------------------------------------------------------------------*/
@media screen and (min-width:1200px) {


}
